.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: #f5b000;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  color: #ffffff;
}

.name {
  margin:0
}

.light {
  font-weight: 300;
}