nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 120px;
  background-color: #4056a1;
  color:#FFFFFF;
  padding: 0 1.5em 0 1.5em;
  position: fixed;
  top:0;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  margin: 0;
}

.bold {
  font-weight: 600;
}

.fa-angle-double-down {
  color: #ff0000;
  cursor: pointer;
}

.fa-angle-double-down {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
  cursor: pointer;
  margin-top:10px;
}
.fa-angle-double-down:hover {
  -webkit-animation: mover 7s infinite alternate;
  animation: mover 7s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}