.new-tweet {
  display: flex;
  flex-direction: column;
}

.button-count {
  display: flex;
  justify-content: space-between;
  margin-top:15px;
  font-family: 'Bungee', cursive;
}

.button-count > button {
  background-color: #4056a1;
  color:#FFFFFF;
  border:none;
  cursor: pointer;
  padding: 7px;
}

.counter {
  color: #545149;
}

.question {
  font-weight: 600;
}

#tweet-text {
  width: 100%;
  border: none;
  background: none;
  overflow: hidden;
  outline: none;
  resize: none;
  border-bottom: 3px solid black;
  height: 30px;
}